.footerTitle {
    background-color: green;
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.Logo{
    margin-top: -2rem;
   
}